*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
	overflow-x: hidden;
}

body {
	display: block;
	font-family: Arial, Times New Roman;
	
}

.section-one {
	background: #FF3131;
	width: 100%;
	margin: 0;
	color: #fff;
	padding: 1rem 9rem 9rem 9rem;
}

nav {
	display: flex;
	flex-wrap: wrap;
	width: 90%;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 7rem;
	padding-right: 10rem;
	
}

.header-logo {
	width: 20rem;
}

.header-links  {
	list-style-type: none;
	font-size: 1.2rem;
	font-weight: 600;
	font-family: Georgia, Arial;
	margin-left: auto;
	column-gap: 2rem;
	display: flex;
	justify-content: flex-end;
	width: 50%;
	padding-right: 7rem;
}

a {
	text-decoration: none;
}

nav > ul > li {
	text-decoration: none;
}

nav > ul > li > a {
	color: #fff;
}


h1 {
	font-size: 3rem;
	color: #fff;
}

h1, h2, h3, h4 {
	font-family: Georgia, Arial;
}


.column-container {
	display: flex;
	flex-direction: row;
	gap: 6rem;
	
}

.left-text {
	width: 40%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	font-size: 1.5rem;
	
}

.right-image {
	width: 40%;
	display: flex;
}


button {
	background-color: #3882F6;
	color: #fff;
	border-color: #fff;
	border-radius: 0.8em;
	font-size: 0.9rem;
	font-weight: 700;
	padding: 0.5rem 2rem 0.5rem 2rem;
	cursor: pointer;
}

.section-two {
	display: flex;
	flex-direction: column;
	align-text: center;
	justify-content: space-evenly;
	margin-left: auto;
	margin-right: auto;
	padding-top: 3rem;
}

h2 {
	display: flex;
	justify-content: center;
	font-size: 2.5rem;
	
}

.products {
	display:flex;
	justify-content: center;
	gap: 3rem;
	padding: 3rem 3rem 6rem 3rem;
}

.box {
	text-align: center;
	font-size: 1.3rem;
}

.box > img {
	border-radius:0.8em;
	border: 5px solid #3882F6;
}

.section-three {
	background-color: #FA5F55;
	padding: 7rem;
}
.quote {
	font-family: Times New Roman, Georgia;
	font-size: 2rem;
	font-style: italic;
}
.quote, .author {
	padding-left: 15rem;
	padding-right: 15rem;
}

.author {
	font-weight: 700;
	font-family: Arial, Georgia;
	font-size: 1.2rem;
	text-align: right;
	
}

.section-four {
	margin: 5rem 10rem 5rem 10rem;
}

.container {
	background-color: #3882F6;
	padding: 2.5rem 5rem 2.5rem 5rem;
	display: flex;
	justify-content: space-around;
	color: #fff;
	font-size: 1.2rem;
	border-radius: 0.8em;
}

h3 {
	font-size: 1.8rem;
}

.footer {
	text-align: center;
	background-color: #ff3131;
	padding-top: 2.5rem;
	padding-bottom: 2.5rem;
	color: #fff;
	font-size: 1.1rem;
}
